<div class='row'>
  <div class='col-sm-12'>
    <h1>Saved searches</h1>
    <p class="lead">Loreum ipsum delor</p>
    <%= link_to 'Add', new_saved_search_path, class: "btn btn-primary" %>
  </div>
</div>
<br/>
<div class='row'>
  <div class='col-sm-12'>
    <table class='table table-hover table-striped'>
      <thead>
        <th>Name</th>
        <th>Run every</th>
      </thead>
      <tbody>
        <td>aas</td>
        <td>asasas</td>
      </tbody>
    </table>
    </div>
</div>